doctype html
html
  head
    title= title
    link(rel="icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="bg-gradient-to-r from-[#04B1F2] to-[#0775D7]")
    block content
    footer(class="fixed bottom-0 w-full sm:fixed sm:bottom-0 sm:w-full")
      svg(class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
        defs
          path(id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
        g.parallax
          use(xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,92,176,0.7)")
          use(xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,92,176,0.5)")
          use(xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,92,176,0.3)")
          use(xlink:href="#gentle-wave" x="48" y="7" fill="rgba(0,92,176)")

